{#
/**
 * Wrapper for a the list of threads.
 *
 * It is a container for the list of message threads (sidebar).
 */
#}
<div class="pmm-recent pmm-dropdown-parent" id="pmm-recent">
    <div class="pmm-recent__link">

        <a href="{{ url }}" class="pmm-dropdown-toggle">
            <span class="pmm-recent__link-text">{{ link_text }}</span>
            <span class="pmm-recent__message-count pmm-recent-count"></span>
        </a>

        <div class="pmm-recent__dropdown pmm-dropdown">

            <ul id="pmm-recent-threads" class="pmm-recent__threads">
                <li class="pmm-recent__loading pmm-loading"><span>{{ loading_text }}</span></li>
            </ul>

            <div class="pmm-recent__dropdown-footer">
                <a href="{{ url }}#inbox">{{ all_text }}</a>
            </div>

        </div>

    </div>
</div>
